.App {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 100%;
}

.container-fluid {
  max-width: 100%;
  overflow-x: hidden;
}

.selected-items {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  overflow: auto;
}

.selected-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.selected-item div {
  margin-right: 10px;
  font-size: 1.25em;
}

.total-bayar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.total {
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 10px;
}

.bayar button {
  margin-top: 10px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  overflow-x: hidden;
}

.menu-item {
  margin: 5px;
}

.menu-button {
  white-space: nowrap;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Add the following CSS to close the overlay when clicking outside the popup */
.popup-overlay {
  cursor: pointer;
}

.popup-overlay .popup {
  cursor: auto;
}

.popup-overlay .popup h2 {
  margin-top: 0;
}

.popup-overlay .popup div {
  margin-bottom: 10px;
}